@model InsaatSite.Models.kategori

@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<h2>Kategori Ekle</h2>

@using (Html.BeginForm("KategoriEkleDb","Panel")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>kategori</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Kategori, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kategori, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Kategori, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-info" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
