
@using InsaatSite.Models

@{
	ayar siteAyar = (ayar)ViewBag.siteListem;
}


@{
	List<hizmet> hizmetler = (List<hizmet>)ViewBag.hizmetListem;

}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@siteAyar.firmaAdi</title>
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="~/Assets/css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="~/Assets/css/animate.css">
	<link rel="stylesheet" href="~/Assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/Assets/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="~/Assets/css/magnific-popup.css">
	<link rel="stylesheet" href="~/Assets/css/aos.css">
	<link rel="stylesheet" href="~/Assets/css/ionicons.min.css">
	<link rel="stylesheet" href="~/Assets/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="~/Assets/css/jquery.timepicker.css">
	<link rel="stylesheet" href="~/Assets/css/flaticon.css">
	<link rel="stylesheet" href="~/Assets/css/icomoon.css">
	<link rel="stylesheet" href="~/Assets/css/style.css">

</head>
<body>

	<div class="bg-top navbar-light">
		<div class="container">
			<div class="row no-gutters d-flex align-items-center align-items-stretch">
				<div class="col-md-4 d-flex align-items-center py-4">
					<a class="navbar-brand" href="#"><span class="flaticon-bee mr-1"></span>@siteAyar.logo.</a>
				</div>
				<div class="col-lg-8 d-block">
					<div class="row d-flex">
						<div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
							<div class="icon d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
							<div class="text d-flex align-items-center">
								<span>@siteAyar.mail</span>
							</div>
						</div>
						<div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
							<div class="icon d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
							<div class="text d-flex align-items-center">
								<span>Bizi Arayın: @siteAyar.tel</span>
							</div>
						</div>
						<div class="col-md topper d-flex align-items-center align-items-stretch">
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container d-flex align-items-center">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>
			<form action="#" class="searchform order-lg-last">
				<div class="form-group d-flex">
					<input type="text" class="form-control pl-3" placeholder="Search">
					<button type="submit" placeholder="" class="form-control search"><span class="ion-ios-search"></span></button>
				</div>
			</form>
			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a href="index.html" class="nav-link pl-0">Anasayfa</a></li>
					<li class="nav-item"><a href="#" class="nav-link">Hizmetlerimiz</a></li>
					<li class="nav-item"><a href="#" class="nav-link">Çalışanlarımız</a></li>
					<li class="nav-item"><a href="# " class="nav-link">Projelerimiz</a></li>
					<li class="nav-item"><a href="@Url.Action("iletisim","Home")" class="nav-link">İletişim</a></li>
				</ul>
			</div>
		</div>
	</nav>

	
	@RenderBody()

	<footer class="ftco-footer ftco-bg-dark ftco-section">
		<div class="container">
			<div class="row mb-5">
				<div class="col-md">
					<div class="ftco-footer-widget mb-5">
						<h2 class="ftco-heading-2 logo"><span class="flaticon-bee"></span>@siteAyar.logo</h2>
						<p>Saygın ve itibarlı olmanın üretmek ve başarmakla mümkün olduğuna inandık.</p>
						<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
							<li class="ftco-animate"><a href="@siteAyar.twitter" target="_blank"><span class="icon-twitter"></span></a></li>
							<li class="ftco-animate"><a href="@siteAyar.facebook"  target="_blank"><span class="icon-facebook"></span></a></li>
							<li class="ftco-animate"><a href="@siteAyar.instagram"  target="_blank"><span class="icon-instagram"></span></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-5 ml-md-4">
						<h2 class="ftco-heading-2">Hizmetlerimiz</h2>
						<ul class="list-unstyled">
							@foreach (var item in  (List<hizmet>)ViewBag.hizmetListem)
							{


								<li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>@item.baslik</a></li>
							}
						</ul>
					</div>
				</div>
				<div class="col-md-5">
					
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">

					<p>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script> Tüm hakları saklıdır. |  <i class="icon-heart" aria-hidden="true"></i> by <a href="#" target="_blank">sznylcn</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
				</div>
			</div>
		</div>
	</footer>


	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>
	<script src="~/Assets/js/jquery.min.js"></script>
	<script src="~/Assets/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="~/Assets/js/popper.min.js"></script>
	<script src="~/Assets/js/bootstrap.min.js"></script>
	<script src="~/Assets/js/jquery.easing.1.3.js"></script>
	<script src="~/Assets/js/jquery.waypoints.min.js"></script>
	<script src="~/Assets/js/jquery.stellar.min.js"></script>
	<script src="~/Assets/js/owl.carousel.min.js"></script>
	<script src="~/Assets/js/jquery.magnific-popup.min.js"></script>
	<script src="~/Assets/js/aos.js"></script>
	<script src="~/Assets/js/jquery.animateNumber.min.js"></script>
	<script src="~/Assets/js/bootstrap-datepicker.js"></script>
	<script src="~/Assets/js/jquery.timepicker.min.js"></script>
	<script src="~/Assets/js/scrollax.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="~/Assets/js/google-map.js"></script>
	<script src="~/Assets/js/main.js"></script>
</body>
</html>
